.characterBody {
    width: 600px;
    height: 800px;
    background-image: url('../img/body.png');
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#characterHair {
    width: 600px;
    height: 200px;
    z-index: 2;
}

#characterEyes {
    width: 600px;
    height: 200px;
    z-index: 2;
}

#characterNose {
    width: 600px;
    height: 250px;
    z-index: 3;
}

#characterFeet {
    width: 600px;
    height: 200px;
    z-index: -1;
}

.savedChars {
    width: 100%;
    height: 160px;
}

.bodyThumb {
    width: 120px;
    height: 160px;
}


.hair1 {
    background-image: url('../img/hair1.png');
    background-position: center;
    background-size: cover;
    height: 25%;
    z-index: 2;
}

.eye1 {
    background-image: url('../img/eye1.png');
    background-position: center;
    background-size: cover;
    height: 25%;
    z-index: 2;
}

.nose1 {
    background-image: url('../img/nose1.png');
    background-position: center;
    background-size: cover;
    height: 35%;
    z-index: 3;
}

.feet1 {
    background-image: url('../img/feet1.png');
    background-position: center;
    background-size: cover;
    height: 25%;
    z-index: 2;
}